body{
    overflow-y: auto;
    background-color: #1e1e1e !important;
    color: white;
}
.navbar-brand{
    color: white !important;
}
nav {
 position: relative !important;
 padding: 7px 10px 0 10px !important;
}
nav a{
    font-size: 14px !important;
}
nav .navbar-toggler svg{
    color: var(--lightgold) !important;
}
nav li.active{
    background: linear-gradient(var(--lightgold),var(--darkgold));
}
nav li.active a{
    color: var(--black) !important;
}
nav li.active:hover a{
    color: var(--black) !important;
}
nav .btn-lightgold{
    color: var(--darkgold) !important;
}
nav .btn-lightgold:hover{
    color: white !important;
}
nav .btn{
    padding: 7px !important;
}
nav .navbar-nav{
    width: 90%;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}
h3{
    color: var(--lightgold);
}
.main{
    width: 70%;
    margin: 30px auto;
    border-radius: 12px;
    background-color: var(--black) !important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(255, 215, 13, 0.25), 0px 2px 6px 2px rgba(224, 170, 10, 0.1);
}
@media (max-width:767px) {
    .main{
        width: 90%;
    }
}
.form-control{
    text-align: right;
}
.main input[type=file]::-webkit-file-upload-button {
    background: linear-gradient(to right, var(--darkgold), var(--lightgold));
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
hr{
    color: orange;
    margin: 17px 0 20px 0;
}
.main input[type=file]::-webkit-file-upload-button:hover {
    background: linear-gradient(to right, var(--darkgold), var(--darkgold));
    color: var(--black);
}
form h5,.customer-feedback{
    background: linear-gradient(to left,var(--darkgold),var(--lightgold));
    display: block !important;
    padding: 10px;
    width: auto;
    text-align: center;
    border-radius: 20px 0 20px 0;
    -webkit-border-radius: 20px 0 20px 0;
    -moz-border-radius: 20px 0 20px 0;
    -ms-border-radius: 20px 0 20px 0;
    -o-border-radius: 20px 0 20px 0;
}
form label{
    color: var(--darkgold);
    margin-bottom: 5px;
}
div.tox-tinymce{
    border: none;
}
div.tox-statusbar{
    display: none !important;
}
div.tox-editor-header{
    direction: rtl !important;
}
.btnwidth{
    width: fit-content;
    width: -moz-fit-content;
    margin: 20px 10px;
}
textarea.form-control{
    height: 100px;
    resize: none;
    overflow-y: auto;
}

.logo-preview-container{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.logo-preview-container img{
    width: 100px;
    object-fit: cover;
}
.customer-feedback-inputs .customer-avatar-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}
.customer-feedback-inputs .customer-avatar-container img{
    width: 100px;
    border-radius: 50%;
    object-fit: contain;
}

.about-image-preview-container {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.about-image-preview-container img{
    width: 150px;
    object-fit: cover;
}
/* ====================================== */
.rates td{
 text-align: center;
 vertical-align: middle;
 border: 1px solid var(--lightgold);
}
.rates thead td{
    padding: 10px 0;

}
.rates tbody td{
    padding: 5px 0;

}
.form-check-input:checked{
    background-color: var(--lightgold);
    border-color: var(--darkgold);
}