/* start header section */
.home {
    height: 100vh;
    background-image: url(./../../assets/images/privacy.jpg);
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:767px) {
    .home::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }
    
    .home .content {
        position: relative;
        z-index: 2;
    } 
}
.home img {
    animation: logoanimate 1s linear infinite alternate;
    transform-style: preserve-3d;
    -webkit-animation: logoanimate 1s linear infinite alternate;
}

@keyframes logoanimate {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

}


.home h1 {
    font-size: 3.5rem;
    background: linear-gradient(45deg, var(--darkgold), var(--lightgold));
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.5;
}

.home .line {
    display: block;
    width: 150px;
    height: 3px;
    background-color: white;
    margin: 15px 0 20px;
}

.home h3,
.home p {
    color: white;
}


/* end header section */
/* start terms section */
.terms{
    background-image: url(./../images/termsback.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 70px !important;
}
.terms h2{
    color: var(--darkgold);
    font-size: 30px !important;
    margin-top: 20px;
}

.terms h3{
    color: var(--lightgold);
    font-size: 22px;
}
.terms ul{
    padding-inline-start: 20px;
    list-style:circle;
}
.terms ul li{
    margin-bottom: 15px;
    font-size: 18px;
    text-align: justify;
}
.terms p{
    font-size: 20px;
    text-align: justify;
}
/* end terms section */