body {
    background-color: #1e1e1e !important;
    height: 100vh;
    overflow-y: auto;
}

.add-consultation-content {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin: 5px auto 0 auto;
    padding: 30px;
    width: 400px;
    height: auto;
    overflow: hidden;
    background: var(--black);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(255, 215, 13, 0.25), 0px 2px 6px 2px rgba(224, 170, 10, 0.1);
}

form img {
    display: block;
    margin: 20px auto;
}

form button:active {
    opacity: 0.4;
}

form #genrate_date_btn {
    font-size: 17px;
    color: rgb(7, 112, 218);
    cursor: pointer;
}

form #genrate_date_btn:hover {
    transition: 0.5s all;
    color: rgb(7, 41, 212);
}

form .error-alert-danger {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.add-consultation-container {
    width: 100%;
    padding: 20px;
}

.add-consultation-container .add-consultation-routes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
form label{
    color: var(--lightgold);
}
input[type=file]::-webkit-file-upload-button {
    background: linear-gradient(to right, var(--darkgold), var(--lightgold));
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

input[type=file]::-webkit-file-upload-button:hover {
    background: linear-gradient(to right, var(--darkgold), var(--darkgold));
    color: var(--black);
}
.form-check-input:checked{
    background-color: var(--lightgold);
    border-color: yellow;
}